.container{
    margin: auto;
}
h1{
   font-family: 'DesignosaurRegular';
   font-weight: normal;
   font-style: normal;
   text-transform: uppercase;
   text-align: center;
}
td{
    width: 400px;
    height: 200px;
    background-color: #ffffff;
    align-items: center;
    justify-content: center;
}
.item1{
    background-color: #cdb4db;
}
.item2{
    background-color: #ffc8dd;
}
.item3{
    background-color: #ffafcc;
}
.item4{
    background-color: #bde0fe;
}
.item5{
    background-color: #a2d2ff;
}
